.section-header {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: -15px;
    position: relative;
    @include mq($medium-up) {
        font-size: 50px;
        padding: 8px 15px;
        margin-bottom: 20px;
    }
    &:after {
        background-color: $accentColor;
        content: "";
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        right: -15px;
        bottom: -15px;
        z-index: -1;
    }
    h2 {
        font-weight: 700;
        color: $primaryColor;
        line-height: 1;
        margin: 0;
    }
}
