.info-row {
    clear: both;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    @include mq($medium-up) {
        margin-bottom: 15px;
    }
    .label,
    .info-text {
        display: block;
        margin: 0;
        @include mq($medium-up) {
            display: inline-block;
        }
    }
    .label {
        font-family: $decoFont
    }
}
