// All logo styling by CSS, also some combinations and variations

.jhony-logo {
    .cls-1 {
        fill: #ca611f;
    }
    .cls-2 {
        fill: #22354f;
    }
    .cls-3 {
        fill: #324671;
    }
    .cls-4 {
        fill: #d3804d;
    }
    &__name {
        fill: #22354f;
    }
    &__gt-top,
    &__lt-top {
        fill: #ca611f;
    }
    &__gt-bottom,
    &__lt-bottom {
        fill: #d3804d;
    }
}
