body {
    padding: 0;
    font-size: 16px;
    background-color: $baseColor;
    font-size-adjust: none;
}
.section {
    position: relative;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    &__header {
        background: $primaryDarkColor;
        box-shadow: 0 7px 0 5px rgba(darken($primaryColor, 8), .45);
        flex-basis: 100%;
        padding: 10px 20px;
    }
    &__title {
        color: $white;
        cursor: default;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        &::before {
            content: " ";
            width: 20px;
            height: 1px;
            border-bottom: 2px solid currentColor;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__content {
        flex-basis: 100%;
        position: relative;
        padding: 25px 0;
        @include mq($medium-up) {
            padding: 55px 0;
        }
        &.contain-grid {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
        }
    }
}
// Modifiers for sections
.section {
    &--primary {
        background: $primaryColor;
    }
    &--primary &__content {
        color: $white;
        padding-bottom: 50px;
        @include mq($medium-up) {
            background-image: url(../assets/images/blue_triangle.svg), url("../assets/images/circuit_design.svg");
            background-position: left top, right center;
            background-size: contain, 22%;
            background-repeat: no-repeat, repeat-y;
            padding-bottom: 25px;
        }
        &::before {
            // background: transparent url(../assets/images/circuit_design_horizontal.svg) left bottom repeat-x;
            background-size: contain;
            bottom: 0;
            content: " ";
            display: block;
            height: 200px;
            left: 0;
            position: absolute;
            width: 100%;
            @include mq($medium-up) {
                display: none;
            }
        }
    }
    &--secondary {
        background: $baseColor url("../assets/images/bg_web_pattern.svg") left top repeat;
        background-size: 130px 150px;
    }
    &--secondary &__header {
        background: $secondaryDarkColor;
        box-shadow: 0 7px 0 5px rgba(darken($secondaryColor, 10), .5);
        text-align: right;
    }
    &--secondary &__title {
        color: $primaryColor;
    }
}
.inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
    @include mq($medium-up) {
        width: 98%;
    }
}
.vert-cntr {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
