body {
    background-color: $white;
    padding: 0;
    font-size: 16px;
}
section {
    position: relative;
    height: 80vh;
    margin: 0;
    padding: 0 20px;
}
.vert-cntr {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.inner-wrapper {
    padding: 20px;

}
