@import "https://fonts.googleapis.com/css?family=Kaushan+Script|Titillium+Web:400,700,300|Amaranth:700";
@font-face {
    font-family: 'glyphs';
    src: url('../assets/fonts/glyphs.eot?xtbwm8');
    src: url('../assets/fonts/glyphs.eot?xtbwm8#iefix') format('embedded-opentype'), url('../assets/fonts/glyphs.ttf?xtbwm8') format('truetype'), url('../assets/fonts/glyphs.woff?xtbwm8') format('woff'), url('../assets/fonts/glyphs.svg?xtbwm8#glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'scratchregular';
    src: url('../assets/fonts/Scratch_-webfont.eot');
    src: url('../assets/fonts/Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Scratch_-webfont.woff') format('woff'),
         url('../assets/fonts/Scratch_-webfont.ttf') format('truetype'),
         url('../assets/fonts/Scratch_-webfont.svg#scratchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'glyphs' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-library:before {
    content: "\e901";
}
.icon-stack:before {
    content: "\e90e";
}
.icon-user:before {
    content: "\e900";
}
.icon-spinner:before {
    content: "\e902";
}
.icon-briefcase:before {
    content: "\e90d";
}
.icon-star-empty:before {
    content: "\e903";
}
.icon-star-half:before {
    content: "\e904";
}
.icon-mail:before {
    content: "\e905";
}
.icon-google-plus:before {
    content: "\e906";
}
.icon-facebook:before {
    content: "\e907";
}
.icon-whatsapp:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-github:before {
    content: "\e90a";
}
.icon-git:before {
    content: "\e90b";
}
.icon-codepen:before {
    content: "\e90c";
}
.icon-linkedin:before {
    content: "\e90f";
}
