/// Fonts variables
$amaranth: 'Amaranth';
$rancho: 'rancho';
$lato: 'Lato';
$titleFont: $amaranth;
$decoFont: $rancho;
$paragraphFont: $lato;

// Color palette
$black: #000000;
$cyan: #00D9EF;
$blue: #0668F0;
$yellow: #FFCA00;
$baseWhite: #E4E4E4;
$gray: #C4CFDC;
$white: #FFFFFF;


// Color settings
$baseColor: $baseWhite;
$primaryColor: $blue;
$secondaryColor: $cyan;
$accentColor: $yellow;
