/// Fonts variables
$amaranth: 'Amaranth';
$kaushan: 'Kaushan Script';
$titillium: 'Titillium Web';
$titleFont: $amaranth;
$paragraphFont: $titillium;
$decoFont: $kaushan;

// Color palette
$black: #000000;
$cyan: #00D9EF;
$blue: #0668F0;
$yellow: #FFCA00;
$baseWhite: #f2f2f2;
$gray: #C4CFDC;
$white: #FFFFFF;


// Color settings
$baseColor: $baseWhite;
$primaryColor: $blue;
$secondaryColor: $cyan;
$accentColor: $yellow;
