/// Fonts variables
$amaranth: 'Amaranth';
$kaushan: 'Kaushan Script';
$titillium: 'Titillium Web';
$titleFont: $titillium;
$paragraphFont: $titillium;
$decoFont: $kaushan;

// Color palette
$black: #000000;
$blue: #324671;
$darkBlue: #263a58;
$baseWhite: #F7F7F8;
$gray: #C2C3C9;
$darkGray: #9fa5b5;
$white: #FFFFFF;
$orange: #d3804d;


// Color settings
$baseColor: $baseWhite;
$primaryDarkColor: $darkBlue;
$primaryColor: $blue;
$secondaryDarkColor: $darkGray;
$secondaryColor: $gray;
$accentColor: $orange;
