.landing-section {
    background: $primaryColor;
    height: 80vh;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    @include mq($large-up) {
        text-align: inherit;
    }
    .display-block {
        flex: 1 1 auto;
        h1 {
            text-shadow: 15px 14px 0 $secondaryColor;
            font-size: 75px;
            letter-spacing: 2px;
            color: $white;
        }
        &__tagline {
            color: $white;
            font-family: $paragraphFont;
            font-size: 22px;
        }
        .tagline {
            &--decorative {
                font-family: $decoFont;
                &:after {
                    margin-left: 5px;
                    content: " -";
                }
            }
            &--regular {
                font-family: inherit;
                font-size: 18px;
            }
        }
        &__text {
            color: $white;
        }
        &__links {
            display: flex;
            justify-content: space-around;
            text-align: center;
            @include mq($large-up) {
                max-width: 30%;
                text-align: inherit;
                justify-content: space-between;
            }
        }
        a {
            color: $white;
            font-size: 26px;
            margin-right: 12px;
            text-shadow: 1px 1px 3px $black;
            text-decoration: none;
            &:hover {
                color: $accentColor;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .poster-block {
        flex: 1 1 0;
        height: 100%;
        align-self: flex-end;
        &__image {
            width: 100%;
            height: 100%;
            background: $primaryColor url(http://41.media.tumblr.com/tumblr_lsb10mhLR81qikgdeo1_1280.png);
            background-blend-mode: luminosity;
        }
    }
}
