.landing-section {
    background: linear-gradient($primaryColor 80%, lighten($primaryColor, 15) 90%, $secondaryColor);
    height: 80vh;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    @include mq($large-up) {
        text-align: inherit;
    }
    .display-block {
        flex: 1 1 auto;
        h1 {
            font-family: $decoFont;
            // text-shadow: 15px 14px 0 $secondaryColor;
            font-size: 85px;
            letter-spacing: 3px;
            color: $white;
            margin: 0 0 15px;
        }
        &__tagline {
            color: $black;
            font-family: $paragraphFont;
            font-weight: 300;
            font-size: 22px;
        }
        .tagline {
            &--decorative {
                color: $white;
                font-family: $decoFont;
            }
            &--regular {
                font-family: inherit;
                font-size: 18px;
            }
        }
        &__text {
            font-family: $paragraphFont;
            font-weight: 300;
            color: $white;
        }
        &__links {
            display: flex;
            justify-content: space-around;
            text-align: center;
            @include mq($large-up) {
                max-width: 30%;
                text-align: inherit;
                justify-content: space-between;
            }
        }
        a {
            color: $accentColor;
            font-size: 26px;
            margin-right: 12px;
            text-decoration: none;
            transition: .3s color ease-in-out;
            &:hover {
                color: $baseWhite;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .poster-block {
        flex: 1 1 0;
        height: 100%;
        align-self: flex-end;
        &__image {
            width: 100%;
            height: 100%;
            background: linear-gradient($primaryColor 80%, lighten($primaryColor, 15) 90%, $secondaryColor), url(http://41.media.tumblr.com/tumblr_lsb10mhLR81qikgdeo1_1280.png);
            background-blend-mode: color;
        }
    }
}
