.landing {
    background: $baseColor;
    min-height: 500px;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    @include mq($large-up) {
        height: 85vh;
        // Min height for toblet in pixes to avoid movement per url bar shrink or disappear
        html.tablet & {
            min-height: 1000px;
        }
    }
    .display-block {
        flex: 1 1 auto;
        color: $black;
        font-size: 20px;
        &__logo {
            max-width: 200px;
            max-height: 200px;
            margin: 15px auto;
            svg {
                width: 100%;
                height: auto;
            }
        }
        &__greeting {
            font-family: $paragraphFont;
        }
        &__tagline {
            font-family: $paragraphFont;
            font-weight: 300;
        }
        .tagline {
            &--decorative {
                font-family: $paragraphFont;
                font-weight: 700;
            }
            &--regular {
                font-family: inherit;
            }
        }
        &__links {
            display: flex;
            justify-content: space-around;
            text-align: center;
            @include mq($large-up) {
                max-width: 30%;
                margin: 20px auto;
                text-align: inherit;
                justify-content: left;
            }
        }
        a {
            color: #d3804d;
            font-size: 26px;
            text-decoration: none;
            transition: .3s color ease-in-out;
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}
